GATEWAY_PORT=80
FRONTEND_PORT=5173

MYSQL_PORT=3306
MYSQL_DATABASE=control_plane
MYSQL_ROOT_PASSWORD=root
TENANT_SERVICE_APP_KEY=base64:nbXM8C4ZqTPEoDItPh2w1sQTo0hQ+HBDZV/uk8P7j3c=
AUTH_SERVICE_APP_KEY=base64:nbXM8C4ZqTPEoDItPh2w1sQTo0hQ+HBDZV/uk8P7j3c=

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_VHOST=/
RABBITMQ_CONNECTION_TIMEOUT=3
RABBITMQ_READ_WRITE_TIMEOUT=60
RABBITMQ_HEARTBEAT=30
RABBITMQ_KEEPALIVE=false
RABBITMQ_EXCHANGE=pos.events
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_DLX=pos.events.dlx
RABBITMQ_ROUTING_SHIFT_CLOSED=shift.closed
RABBITMQ_ROUTING_SHIFT_CLOSED_DLQ=shift.closed.dlq
RABBITMQ_QUEUE_SHIFT_CLOSED_AUDIT=audit.shift.closed
RABBITMQ_QUEUE_SHIFT_CLOSED_DLQ=audit.shift.closed.dlq
RABBITMQ_PUBLISH_FAIL_HARD=false

REDIS_PORT=6379
